::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(15, 77, 212);
}

body {
  font-family: Inter, sans-serif;
  height: 100vh;
  overflow-x: hidden;
}
@media (max-width: 599px) {
  body {
    background-color: rgb(245, 245, 245);
  }
}

#sidebar-container {
  position: fixed;
  width: 270px;
  height: 100%;
  left: 0;
  color: #f7f9ff;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(0, 80, 255);
  background: rgb(23, 93, 247);
  transition: all 0.3s ease-out;
}
#sidebar-container.active {
  transform: translateX(-230px);
  transition: all 0.3s ease-out;
}
@media (max-width: 599px) {
  #sidebar-container {
    position: absolute;
    width: 100%;
    transform: translateX(-95%);
    transition: all 0.3s ease-out;
    z-index: 2;
    height: auto;
  }
  #sidebar-container.active {
    transform: translateX(0%);
    transition: all 0.3s ease-out;
    width: 80%;
  }
}
#sidebar-container .logo {
  padding: 12px 10px 12px 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(0, 80, 255);
}
#sidebar-container .logo .company-brand {
  margin-left: 5px;
}
#sidebar-container .logo .side-arrow {
  width: 25px;
  height: 25px;
  border: 3px solid rgb(23, 93, 247);
  background: rgb(255, 255, 255);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0;
  padding: 0;
  right: -12.5px;
  top: auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#sidebar-container .logo .side-arrow.active {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 599px) {
  #sidebar-container .logo .side-arrow {
    width: 35px;
    height: 35px;
    right: -18px;
  }
  #sidebar-container .logo .side-arrow svg {
    transform: scale(1.5);
  }
}
#sidebar-container .menu {
  padding: 20px 10px 20px 10px;
  color: rgb(128, 167, 255);
  overflow-x: hidden;
  height: 100%;
  overflow-y: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  border-bottom: none;
}
#sidebar-container .menu .menu-item {
  padding: 10px 12px 0px 12px;
  margin: 5px 0px;
  font-size: 13px;
  height: 23px;
}
#sidebar-container .menu .menu-link {
  color: rgb(255, 255, 255);
  padding: 3px 4px 3px 4px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 15px;
  height: 46px;
  margin: 3px 0px;
  border: none;
}
#sidebar-container .menu .menu-link:hover {
  background: rgb(15, 77, 212);
  border-radius: 8px;
}
#sidebar-container .menu .menu-link.active {
  border-radius: 8px;
  background: rgb(15, 77, 212);
}
#sidebar-container .menu .menu-link:first-child {
  margin: 0;
}
#sidebar-container .menu .menu-link:last-child {
  margin-bottom: 3rem;
}

.page-container {
  overflow-y: hidden;
  margin-left: 270px;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}
.page-container.w-wider {
  margin-left: 40px;
  transition: all 0.3s ease-out;
}
@media (max-width: 599px) {
  .page-container {
    width: 100%;
    margin-left: 2%;
    transition: all 0.3s ease-out;
  }
  .page-container.w-wider {
    margin-left: 2%;
  }
}

#header-container {
  height: 64px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 25px 5px 25px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(230, 230, 230);
  background: rgb(255, 255, 255);
}
#header-container .left-content .finance-btn {
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  background: rgb(142, 64, 255);
  border: none;
  outline: none;
  width: 108px;
  height: 34px;
  position: relative;
  z-index: 1;
}
#header-container .left-content .finance-btn span {
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 1%;
  color: rgb(255, 255, 255);
}
@media (max-width: 599px) {
  #header-container .left-content {
    width: 100%;
    text-align: center;
  }
}
#header-container .right-content {
  position: relative;
  height: 54px;
  width: auto;
}
@media (max-width: 599px) {
  #header-container .right-content {
    position: absolute;
    right: 0;
    width: 100%;
  }
}
#header-container .right-content .navbar {
  position: absolute;
  right: 0;
  top: 0;
}
#header-container .right-content .navbar .navbar-collapse {
  z-index: 1;
}
#header-container .right-content .navbar .navbar-collapse .nav-item .nav-link .mobile-text {
  display: none;
}
@media (max-width: 991px) {
  #header-container .right-content .navbar .navbar-collapse .nav-item .nav-link .mobile-text {
    display: block;
    margin-right: 1rem;
    font-size: 13px;
    font-weight: 500;
    color: rgb(255, 255, 255);
  }
}
@media (max-width: 991px) {
  #header-container .right-content .navbar .navbar-collapse .nav-item .nav-link .svg-box {
    width: 40px;
    height: 40px;
  }
  #header-container .right-content .navbar .navbar-collapse .nav-item .nav-link .svg-box svg {
    width: 15px;
  }
  #header-container .right-content .navbar .navbar-collapse .nav-item .nav-link .svg-box .alarm-info {
    width: 15px;
    height: 15px;
    font-size: 10px;
    right: 5px;
    top: 2px;
  }
}
@media (max-width: 991px) {
  #header-container .right-content .navbar .navbar-collapse .nav-item.account-detail .account-info,
  #header-container .right-content .navbar .navbar-collapse .nav-item.account-detail svg {
    display: none;
  }
  #header-container .right-content .navbar .navbar-collapse .nav-item.account-detail .account-img {
    width: 25px;
    height: 25px;
    font-size: 10px;
  }
  #header-container .right-content .navbar .navbar-collapse .nav-item .dropdown-menu {
    display: none !important;
  }
}
@media (max-width: 599px) {
  #header-container .right-content .navbar {
    width: 100%;
  }
  #header-container .right-content .navbar .navbar-collapse {
    padding-left: 10%;
  }
}
#header-container .right-content .navbar .navbar-toggler {
  padding: 0 5px;
  margin-top: 3px;
}
#header-container .right-content .navbar .navbar-toggler:focus {
  box-shadow: none;
}
#header-container .right-content .navbar .navbar-toggler .navbar-toggler-icon {
  width: 20px;
  height: 32px;
}
@media (max-width: 599px) {
  #header-container .right-content .navbar .navbar-toggler {
    margin-right: 1rem;
  }
}
#header-container .right-content .nav-item {
  padding: 0;
}
#header-container .right-content .nav-item .nav-link {
  display: flex;
  align-items: center;
  padding: 0;
}
#header-container .right-content .nav-item .nav-link .svg-box {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#header-container .right-content .nav-item .nav-link .svg-box .alarm-info {
  position: absolute;
  width: 21px;
  height: 21px;
  background: rgb(204, 46, 46);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  right: 7px;
  top: 3px;
}
#header-container .right-content .nav-item .nav-link .divider {
  width: 1px;
  height: 30px;
  background: rgb(153, 153, 153);
  margin: 0px 6px;
}
@media (max-width: 991px) {
  #header-container .right-content .nav-item .nav-link .divider {
    display: none;
  }
}
#header-container .right-content .nav-item .nav-link.dropdown-toggle::after {
  display: none;
}
#header-container .right-content .nav-item .dropdown-menu {
  font-size: 13px;
}
#header-container .right-content .nav-item .dropdown-menu .dropdown-item i {
  font-size: 16px;
}
#header-container .right-content .nav-item.account-detail .dropdown-menu {
  right: 0;
  left: unset;
  font-size: 13px;
}
#header-container .right-content .nav-item.account-detail .dropdown-toggle {
  padding: 0px 10px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 54px;
}
#header-container .right-content .nav-item.account-detail .dropdown-toggle::after {
  display: none;
}
#header-container .right-content .nav-item.account-detail .dropdown-toggle .account-img {
  width: 34px;
  height: 34px;
  border-radius: 100%;
  margin-right: 10px;
  background-color: rgb(23, 93, 247);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
  padding-top: 2px;
}
#header-container .right-content .nav-item.account-detail .dropdown-toggle .account-info {
  margin-right: 10px;
}
#header-container .right-content .nav-item.account-detail .dropdown-toggle .account-info .name {
  font-size: 14px;
  font-weight: 600;
  color: rgb(41, 41, 41);
}
#header-container .right-content .nav-item.account-detail .dropdown-toggle .account-info .title {
  font-size: 12px;
  font-weight: 500;
  color: rgba(41, 41, 41, 0.5);
}
@media (max-width: 991px) {
  #header-container .right-content .navbar-collapse .navbar-nav {
    background: rgb(4, 32, 64);
    border-radius: 3px;
    margin-top: 5px;
    padding-right: 5px;
  }
  #header-container .right-content .navbar-collapse .navbar-nav .nav-item .nav-link .svg-box svg path {
    stroke: rgb(255, 255, 255);
  }
  #header-container .right-content .navbar .container-fluid {
    justify-content: flex-end;
  }
  #header-container .right-content .navbar .nav-item .nav-link {
    justify-content: flex-end;
  }
}
#header-container .right-content .message-canvas {
  background: #7474bf;
  background: -webkit-linear-gradient(to right, #348ac7, #7474bf);
  background: linear-gradient(to right, #348ac7, #7474bf);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#header-container .right-content .message-canvas .offcanvas-header {
  background: #7474bf;
  background: -webkit-linear-gradient(to right, #348ac7, #7474bf);
  background: linear-gradient(to right, #348ac7, #7474bf);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-bottom: 0.5rem;
}
#header-container .right-content .message-canvas .comment-section .comment-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header-container .right-content .message-canvas .comment-section .comment-detail .comment-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#header-container .right-content .message-canvas .comment-section .comment-detail .comment-info .comment-img {
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background-color: rgb(23, 93, 247);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
  padding-top: 2px;
}
#header-container .right-content .message-canvas .comment-section .comment-detail .comment-info .comment-name {
  font-size: 14px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin-left: 10px;
}
#header-container .right-content .message-canvas .comment-section .comment-detail .comment-info .comment-date {
  font-size: 12px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 10px;
}
#header-container .right-content .message-canvas .comment-section .comment-detail .add-fav {
  cursor: pointer;
}
#header-container .right-content .message-canvas .comment-section .comment {
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  border: 1px solid rgb(43, 43, 43);
  border-radius: 0.5rem;
  padding: 10px;
}
#header-container .right-content .message-canvas .leave-message .message-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
}
#header-container .right-content .message-canvas .leave-message .message-block textarea {
  margin-top: 1rem;
}

#contents {
  height: 100%;
  background-color: rgb(245, 245, 245);
  padding: 0px 25px 25px 25px;
}
@media (min-width: 1850px) {
  #contents {
    height: 100vh;
  }
}
#contents .tab-content .tab-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 98px;
}
@media (max-width: 599px) {
  #contents .tab-content .tab-header {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
  }
}
#contents .tab-content .tab-header .tab-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contents .tab-content .tab-header .tab-title .title-info {
  margin-left: 5px;
}
#contents .tab-content .tab-header .tab-title .title-info .title {
  color: rgb(3, 32, 64);
  font-size: 26px;
  font-weight: 600;
}
#contents .tab-content .tab-header .tab-title .title-info .subtitle {
  color: rgb(150, 150, 150);
  font-size: 12px;
  font-weight: 500;
}
@media (max-width: 599px) {
  #contents .tab-content .tab-header .tab-title svg {
    width: 35px;
  }
  #contents .tab-content .tab-header .tab-title .title-info .title {
    font-size: 15px;
  }
}
#contents .tab-content .tab-header .tab-action {
  display: flex;
  align-items: center;
}
#contents .tab-content .tab-header .tab-action button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 16px 7px 8px;
  color: rgb(255, 251, 251);
  font-size: 15px;
  font-weight: 600;
  box-sizing: border-box;
  border: 1px solid rgb(12, 132, 9);
  border-radius: 6px;
  background: rgb(17, 140, 14);
}
@media (max-width: 599px) {
  #contents .tab-content .tab-header .tab-action button {
    padding: 5px 10px 5px 5px;
    font-size: 12px;
  }
}
#contents .tab-content .tab-header .tab-action .dots {
  margin-left: 10px;
}
#contents .tab-content .tab-header .tab-action .dots .dropdown-toggle {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  box-sizing: border-box;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 6px;
  background: rgb(255, 255, 255);
}
#contents .tab-content .tab-header .tab-action .dots .dropdown-toggle::after {
  display: none;
}
#contents .tab-content .tab-header .tab-action .dots .dropdown-menu {
  left: unset !important;
  right: 0 !important;
  font-size: 13px;
}
#contents .tab-content .tab-table-tabs {
  padding: 0px 15px 0px 15px;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 60px;
  border: 1px solid rgb(237, 237, 240);
  border-bottom: none;
}
@media (max-width: 489px) {
  #contents .tab-content .tab-table-tabs {
    justify-content: center;
  }
}
@media (max-width: 991px) {
  #contents .tab-content .tab-table-tabs {
    height: auto;
  }
  #contents .tab-content .tab-table-tabs .nav-link {
    padding: 0.5rem 0.75rem;
  }
  #contents .tab-content .tab-table-tabs .dots {
    padding: 0.5rem !important;
  }
}
@media (min-width: 480px) and (max-width: 991px) {
  #contents .tab-content .tab-table-tabs .dots .dropdown-menu {
    left: unset !important;
    right: 0 !important;
  }
}
#contents .tab-content .tab-table-tabs .nav-link {
  color: rgba(41, 41, 41, 0.8);
  font-size: 15px;
  font-weight: 600;
  border: none;
  display: flex;
  align-items: center;
}
#contents .tab-content .tab-table-tabs .nav-link.active {
  color: rgb(13, 101, 216);
  box-sizing: border-box;
  border-bottom: 4px solid rgb(13, 101, 216);
}
#contents .tab-content .tab-table-tabs .dots {
  align-self: center;
  padding: 0.5rem 1rem;
}
#contents .tab-content .tab-table-tabs .dots .dropdown-toggle::after {
  display: none;
}
#contents .tab-content .tab-table-tabs .dots .dropdown-item {
  color: rgba(41, 41, 41, 0.8);
  font-size: 15px;
  font-weight: 600;
}
#contents .tab-content .tab-table-tabs .dots .dropdown-item.active {
  color: rgb(13, 101, 216);
  border-bottom: none;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding: 10px 15px 10px 15px;
  background: rgb(246, 249, 252);
  border: 1px solid rgb(237, 237, 240);
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991px) {
  #contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header {
    height: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  #contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-options {
    justify-content: flex-start !important;
    flex-wrap: wrap;
  }
  #contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-options .option-pills {
    margin-bottom: 0.5rem;
  }
  #contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-search-print {
    justify-content: space-between !important;
    column-gap: 0.5rem !important;
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1299px) {
  #contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header {
    flex-direction: column;
    height: auto;
  }
  #contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-search-print {
    margin-top: 0.75rem;
  }
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-options {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-options .option-pills .option-pill {
  box-sizing: border-box;
  border: 1px solid rgb(230, 232, 236);
  border-radius: 50px;
  background: rgb(255, 255, 255);
  padding: 0px 14px 0px 14px;
  color: rgb(41, 41, 41);
  font-size: 14px;
  font-weight: 500;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-options .option-pills .option-pill span {
  width: max-content;
  display: inline-flex;
  align-items: center;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-options .option-pills .option-pill span[data-choosed]::after {
  content: attr(data-choosed);
  color: rgb(255, 255, 255);
  width: 14px;
  height: 14px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: rgb(188, 46, 27);
  margin-left: 5px;
  vertical-align: middle;
  font-size: 9px;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-options .option-pills .option-pill i {
  -webkit-text-stroke: 1px;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-options .option-pills .option-pill::after {
  display: none;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-options .option-pills .option-pill:hover, #contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-options .option-pills .option-pill.show {
  background: rgb(23, 93, 247);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(23, 93, 247);
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-options .option-pills .option-pill:hover svg path, #contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-options .option-pills .option-pill.show svg path {
  stroke: rgb(255, 255, 255);
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-options .option-pills .dropdown-item {
  color: rgb(41, 41, 41);
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 1100px) {
  #contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-options .option-pills:last-child .dropdown-menu {
    left: unset !important;
    right: -35px !important;
  }
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-search-print {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-search-print .pane-search {
  box-sizing: border-box;
  border: 1px solid rgb(230, 232, 236);
  border-radius: 6px;
  background: rgb(255, 253, 253);
  height: 32px;
  width: 250px;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-search-print .pane-search .input-group-text,
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-search-print .pane-search .form-control {
  border: none;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: rgb(148, 148, 148);
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-search-print .pane-search .input-group-text:focus,
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-search-print .pane-search .form-control:focus {
  box-shadow: none;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-search-print .pane-search .input-group-text::placeholder,
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-search-print .pane-search .form-control::placeholder {
  color: rgb(177, 178, 180);
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-search-print .pane-search .input-group-text i,
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-search-print .pane-search .form-control i {
  -webkit-text-stroke: 1px;
  font-size: 13px;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-search-print .pane-print .print {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 8px 6px 8px;
  box-sizing: border-box;
  border: 1px solid rgb(230, 232, 236);
  border-radius: 4px;
  text-decoration: none;
  color: rgb(41, 41, 41);
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-search-print .pane-print .print::after {
  display: none;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-search-print .pane-print .print .bi-printer {
  font-size: 19px;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-search-print .pane-print .print .bi-chevron-down {
  -webkit-text-stroke: 1px;
  margin-left: 7px;
  font-size: 10px;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-search-print .pane-print .dropdown-menu {
  right: 0;
  left: unset;
  font-size: 12px;
  margin-top: 0.25rem !important;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-header .pane-search-print .pane-print .dropdown-menu i {
  font-size: 14px;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(237, 237, 240);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 100%;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table {
  margin-bottom: 10rem;
}
@media (max-width: 991px) {
  #contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table {
    margin-bottom: 2rem;
  }
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table thead {
  font-size: 14px;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table thead tr th {
  color: rgb(82, 83, 85);
  font-size: 14px;
  font-weight: 500;
  border-right: 1px solid rgb(218, 218, 222);
  border-bottom: 1px solid rgb(218, 218, 222);
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table thead tr th:last-child.sorting {
  background-image: none !important;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table thead tr th:last-child.sorting::after {
  display: none;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table thead tr th.status {
  text-align: center;
  background-image: none !important;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table thead tr th.status::after {
  display: none;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table thead tr th.amount {
  text-align: right;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table thead .sorting {
  background-image: url(/images/soring_both.png) !important;
  background-size: 14px;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table thead .sorting_asc {
  background-image: url(/images/soring_asc.png) !important;
  background-size: 12px;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table thead .sorting_desc {
  background-image: url(/images/soring_desc.png) !important;
  background-size: 12px;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody {
  font-size: 13px;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.detail {
  display: flex;
  align-items: center;
  padding-left: 15px;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.detail::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 32px;
  margin-right: 10px;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.detail[data-type=paid]::before {
  background: rgb(92, 184, 77);
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.detail[data-type=pending]::before {
  background: rgb(251, 227, 16);
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.detail[data-type=expired]::before {
  background: rgb(230, 90, 90);
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.detail .detail-info .detail-title {
  color: rgb(4, 32, 64);
  font-size: 14px;
  font-weight: 600;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.detail .detail-info .detail-subtitle {
  color: rgb(79, 99, 121);
  font-size: 13px;
  font-weight: 500;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.date {
  padding-left: 15px;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.date .date-info {
  display: flex;
  align-items: center;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.date .date-info .date-payment {
  padding: 0 5px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  font-size: 13px;
  font-weight: 500;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.date .date-info .date-text {
  font-size: 13px;
  font-weight: 500;
  margin-left: 5px;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.date .date-subtitle {
  font-size: 13px;
  font-weight: 500;
  color: rgb(79, 99, 121);
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.date[data-type=paid] .date-payment {
  border-color: rgb(53, 129, 17);
  color: rgb(53, 129, 17);
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.date[data-type=paid] .date-text {
  display: none;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.date[data-type=unpaid] .date-payment {
  border: 1px solid rgb(4, 32, 64);
  color: rgb(4, 32, 64);
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.date[data-type=unpaid] .date-text {
  display: block;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.date[data-type=expired] .date-payment {
  border: 1px solid rgb(4, 32, 64);
  color: rgb(4, 32, 64);
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.date[data-type=expired] .date-text {
  display: block;
  color: rgb(202, 3, 27);
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.status {
  text-align: center;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.status .box {
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  padding: 0 8px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: auto;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.status[data-type=approved] .box {
  background: rgb(45, 136, 43);
  color: rgb(241, 248, 241);
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.status[data-type=pending] .box {
  background: rgb(236, 245, 254);
  color: rgb(4, 32, 64);
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.status[data-type=rejected] .box {
  background: rgb(252, 219, 219);
  color: rgb(202, 0, 0);
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.amount {
  text-align: right;
  padding-right: 0;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.amount .amount-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.amount .amount-info .type {
  color: rgba(4, 32, 64, 0.85);
  font-size: 12px;
  font-weight: 500;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.amount .amount-info .amount {
  color: rgb(4, 32, 64);
  font-size: 14px;
  font-weight: 500;
  margin-left: 5px;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.amount .amount-subtitle {
  color: rgb(79, 99, 121);
  font-size: 11px;
  font-weight: 500;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.detail, #contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.date, #contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.status, #contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.amount {
  text-wrap: nowrap;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.action {
  text-align: center;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.action .dots {
  width: fit-content;
  margin: auto;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.action .dots .dropdown-toggle {
  border-radius: 50px;
  background: rgb(246, 246, 249);
  padding: 2px;
  width: 28px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgb(41, 41, 41);
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.action .dots .dropdown-toggle::after {
  display: none;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.action .dropdown-menu {
  left: unset !important;
  right: 0 !important;
  font-size: 13px;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr td.action .dropdown-menu .dropdown-item {
  color: rgb(41, 41, 41);
  font-size: 13px;
  font-weight: 500;
  text-align: right;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr.odd {
  background-color: transparent;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr.odd .sorting_1 {
  background-color: transparent;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .jquery-table tbody tr.even .sorting_1 {
  background-color: transparent;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .bi-chevron-right,
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .bi-chevron-left {
  -webkit-text-stroke: 1px;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .no-footer {
  border-bottom: none;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .dataTables_paginate {
  color: rgb(4, 32, 64);
  font-size: 14px;
  font-weight: 500;
  padding-top: 0;
  padding: 0 15px 15px 15px;
}
@media (max-width: 991px) {
  #contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .dataTables_paginate {
    width: 100%;
    text-align: center;
  }
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .dataTables_paginate .paginate_button {
  width: 30px;
  height: 30px;
  padding: 0.25rem 0;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .dataTables_paginate .paginate_button.current {
  background: rgb(23, 93, 247);
  color: rgb(255, 255, 255) !important;
  border-radius: 6px;
  border: 1px solid rgb(23, 93, 247);
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .dataTables_paginate .paginate_button:not(.current):hover, #contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .dataTables_paginate .paginate_button:not(.current):focus {
  background: rgba(23, 94, 247, 0.438);
  color: rgb(255, 255, 255) !important;
  border-radius: 6px;
  border: none;
}
#contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .dataTables_info {
  color: rgb(82, 83, 85);
  font-size: 13px;
  font-weight: 500;
  line-height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 991px) {
  #contents .tab-content .tab-table-tabs-contents .tab-pane .pane-table .dataTables_info {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
}
#contents .tab-content .tab-pane#invoices .tab-header, #contents .tab-content .tab-pane#dashboard .tab-header, #contents .tab-content .tab-pane#customers .tab-header, #contents .tab-content .tab-pane#bills .tab-header, #contents .tab-content .tab-pane#expenses .tab-header, #contents .tab-content .tab-pane#vendors .tab-header, #contents .tab-content .tab-pane#cashbank .tab-header, #contents .tab-content .tab-pane#cashflow .tab-header, #contents .tab-content .tab-pane#products .tab-header, #contents .tab-content .tab-pane#transactions .tab-header, #contents .tab-content .tab-pane#accounts .tab-header, #contents .tab-content .tab-pane#reports .tab-header {
  display: flex;
  height: 98px;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid rgba(41, 41, 41, 0.3);
}
#contents .tab-content .tab-pane#invoices .tab-header .title-info, #contents .tab-content .tab-pane#dashboard .tab-header .title-info, #contents .tab-content .tab-pane#customers .tab-header .title-info, #contents .tab-content .tab-pane#bills .tab-header .title-info, #contents .tab-content .tab-pane#expenses .tab-header .title-info, #contents .tab-content .tab-pane#vendors .tab-header .title-info, #contents .tab-content .tab-pane#cashbank .tab-header .title-info, #contents .tab-content .tab-pane#cashflow .tab-header .title-info, #contents .tab-content .tab-pane#products .tab-header .title-info, #contents .tab-content .tab-pane#transactions .tab-header .title-info, #contents .tab-content .tab-pane#accounts .tab-header .title-info, #contents .tab-content .tab-pane#reports .tab-header .title-info {
  margin-left: 5px;
}
#contents .tab-content .tab-pane#invoices .tab-header .title-info .title, #contents .tab-content .tab-pane#dashboard .tab-header .title-info .title, #contents .tab-content .tab-pane#customers .tab-header .title-info .title, #contents .tab-content .tab-pane#bills .tab-header .title-info .title, #contents .tab-content .tab-pane#expenses .tab-header .title-info .title, #contents .tab-content .tab-pane#vendors .tab-header .title-info .title, #contents .tab-content .tab-pane#cashbank .tab-header .title-info .title, #contents .tab-content .tab-pane#cashflow .tab-header .title-info .title, #contents .tab-content .tab-pane#products .tab-header .title-info .title, #contents .tab-content .tab-pane#transactions .tab-header .title-info .title, #contents .tab-content .tab-pane#accounts .tab-header .title-info .title, #contents .tab-content .tab-pane#reports .tab-header .title-info .title {
  color: rgb(3, 32, 64);
  font-size: 26px;
  font-weight: 600;
}
#contents .tab-content .tab-pane#invoices .tab-header .title-info .subtitle, #contents .tab-content .tab-pane#dashboard .tab-header .title-info .subtitle, #contents .tab-content .tab-pane#customers .tab-header .title-info .subtitle, #contents .tab-content .tab-pane#bills .tab-header .title-info .subtitle, #contents .tab-content .tab-pane#expenses .tab-header .title-info .subtitle, #contents .tab-content .tab-pane#vendors .tab-header .title-info .subtitle, #contents .tab-content .tab-pane#cashbank .tab-header .title-info .subtitle, #contents .tab-content .tab-pane#cashflow .tab-header .title-info .subtitle, #contents .tab-content .tab-pane#products .tab-header .title-info .subtitle, #contents .tab-content .tab-pane#transactions .tab-header .title-info .subtitle, #contents .tab-content .tab-pane#accounts .tab-header .title-info .subtitle, #contents .tab-content .tab-pane#reports .tab-header .title-info .subtitle {
  color: rgb(150, 150, 150);
  font-size: 12px;
  font-weight: 500;
}
#contents .tab-content .tab-pane#invoices .tab-header svg path, #contents .tab-content .tab-pane#dashboard .tab-header svg path, #contents .tab-content .tab-pane#customers .tab-header svg path, #contents .tab-content .tab-pane#bills .tab-header svg path, #contents .tab-content .tab-pane#expenses .tab-header svg path, #contents .tab-content .tab-pane#vendors .tab-header svg path, #contents .tab-content .tab-pane#cashbank .tab-header svg path, #contents .tab-content .tab-pane#cashflow .tab-header svg path, #contents .tab-content .tab-pane#products .tab-header svg path, #contents .tab-content .tab-pane#transactions .tab-header svg path, #contents .tab-content .tab-pane#accounts .tab-header svg path, #contents .tab-content .tab-pane#reports .tab-header svg path {
  stroke: #292929;
}
@media (max-width: 599px) {
  #contents .tab-content .tab-pane#invoices .tab-header, #contents .tab-content .tab-pane#dashboard .tab-header, #contents .tab-content .tab-pane#customers .tab-header, #contents .tab-content .tab-pane#bills .tab-header, #contents .tab-content .tab-pane#expenses .tab-header, #contents .tab-content .tab-pane#vendors .tab-header, #contents .tab-content .tab-pane#cashbank .tab-header, #contents .tab-content .tab-pane#cashflow .tab-header, #contents .tab-content .tab-pane#products .tab-header, #contents .tab-content .tab-pane#transactions .tab-header, #contents .tab-content .tab-pane#accounts .tab-header, #contents .tab-content .tab-pane#reports .tab-header {
    height: auto;
    flex-direction: row;
    padding-bottom: unset;
  }
  #contents .tab-content .tab-pane#invoices .tab-header svg, #contents .tab-content .tab-pane#dashboard .tab-header svg, #contents .tab-content .tab-pane#customers .tab-header svg, #contents .tab-content .tab-pane#bills .tab-header svg, #contents .tab-content .tab-pane#expenses .tab-header svg, #contents .tab-content .tab-pane#vendors .tab-header svg, #contents .tab-content .tab-pane#cashbank .tab-header svg, #contents .tab-content .tab-pane#cashflow .tab-header svg, #contents .tab-content .tab-pane#products .tab-header svg, #contents .tab-content .tab-pane#transactions .tab-header svg, #contents .tab-content .tab-pane#accounts .tab-header svg, #contents .tab-content .tab-pane#reports .tab-header svg {
    width: 35px;
  }
  #contents .tab-content .tab-pane#invoices .tab-header .title-info .title, #contents .tab-content .tab-pane#dashboard .tab-header .title-info .title, #contents .tab-content .tab-pane#customers .tab-header .title-info .title, #contents .tab-content .tab-pane#bills .tab-header .title-info .title, #contents .tab-content .tab-pane#expenses .tab-header .title-info .title, #contents .tab-content .tab-pane#vendors .tab-header .title-info .title, #contents .tab-content .tab-pane#cashbank .tab-header .title-info .title, #contents .tab-content .tab-pane#cashflow .tab-header .title-info .title, #contents .tab-content .tab-pane#products .tab-header .title-info .title, #contents .tab-content .tab-pane#transactions .tab-header .title-info .title, #contents .tab-content .tab-pane#accounts .tab-header .title-info .title, #contents .tab-content .tab-pane#reports .tab-header .title-info .title {
    font-size: 15px;
  }
}
#contents .tab-content .tab-pane#dashboard svg, #contents .tab-content .tab-pane#customers svg, #contents .tab-content .tab-pane#bills svg, #contents .tab-content .tab-pane#expenses svg, #contents .tab-content .tab-pane#vendors svg, #contents .tab-content .tab-pane#cashbank svg, #contents .tab-content .tab-pane#cashflow svg, #contents .tab-content .tab-pane#products svg, #contents .tab-content .tab-pane#transactions svg, #contents .tab-content .tab-pane#accounts svg, #contents .tab-content .tab-pane#reports svg {
  transform: scale(1.8);
  margin-right: 5px;
}
#contents .tab-content .tab-pane#dashboard .tab-header, #contents .tab-content .tab-pane#customers .tab-header, #contents .tab-content .tab-pane#bills .tab-header, #contents .tab-content .tab-pane#expenses .tab-header, #contents .tab-content .tab-pane#vendors .tab-header, #contents .tab-content .tab-pane#cashbank .tab-header, #contents .tab-content .tab-pane#cashflow .tab-header, #contents .tab-content .tab-pane#products .tab-header, #contents .tab-content .tab-pane#transactions .tab-header, #contents .tab-content .tab-pane#accounts .tab-header, #contents .tab-content .tab-pane#reports .tab-header {
  padding: 0.35rem 0;
}

.general-modal .modal-header {
  background-color: rgb(15, 77, 212);
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(15, 77, 212);
  font-size: 16px;
  font-weight: 600;
  padding: 0.5rem 1rem;
}
.general-modal .modal-body {
  font-size: 14px;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.other-tabs {
  font-size: 16px;
  padding: 3rem 0;
  color: rgba(41, 41, 41, 0.8);
  font-weight: 500;
}
.other-tabs i {
  color: rgb(142, 64, 255);
}
.other-tabs span {
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  color: rgb(13, 101, 216);
}
@media (max-width: 991px) {
  .other-tabs {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .other-tabs i {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  .other-tabs::before {
    content: "";
    display: inline-flex;
    width: 3px;
    height: 70px;
    background: rgba(41, 41, 41, 0.8);
    vertical-align: middle;
    margin-right: 10px;
  }
}

@media (min-width: 600px) {
  .tab-table-tabs-contents #all-invoice,
  .tab-table-tabs-contents #progress,
  .tab-table-tabs-contents #waiting,
  .tab-table-tabs-contents #drafts,
  .tab-table-tabs-contents #canceled,
  .tab-table-tabs-contents #archived {
    height: 100vh;
  }
}
/********** Loader **********/
:root {
  --aqua: #7fdbff;
  --blue: #0074d9;
  --navy: #001f3f;
  --teal: #39cccc;
  --green: #2ecc40;
  --olive: #3d9970;
  --lime: #01ff70;
  --yellow: #ffdc00;
  --orange: #ff851b;
  --red: #ff4136;
  --fuchsia: #f012be;
  --purple: #b10dc9;
  --maroon: #85144b;
  --white: #ffffff;
  --silver: #dddddd;
  --gray: #aaaaaa;
  --black: #111111;
}

.loader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: radial-gradient(#e1e1e1, transparent);
  z-index: 3;
}
.loader .stack {
  display: grid;
  grid-template-areas: "stack";
  transform: scale(0.25);
}
.loader .blobs {
  display: grid;
  grid-template-areas: "stack";
  position: relative;
  animation: spin infinite 5s linear;
  grid-area: stack;
}
.loader .blob {
  --border-radius: 115% 140% 145% 110% / 125% 140% 110% 125%;
  --border-width: 5vmin;
  aspect-ratio: 1;
  display: block;
  grid-area: stack;
  background-size: calc(100% + var(--border-width) * 2);
  background-repeat: no-repeat;
  background-position: center;
  border: var(--border-width) solid transparent;
  border-radius: var(--border-radius, 50%);
  mask-image: linear-gradient(transparent, transparent), linear-gradient(black, white);
  mask-clip: padding-box, border-box;
  mask-composite: intersect;
  mix-blend-mode: screen;
  height: 80vmin;
  filter: blur(1vmin);
}
.loader .blob:nth-child(1) {
  background-color: var(--blue);
  background-image: linear-gradient(var(--blue), var(--teal), var(--blue));
  rotate: 30deg;
  scale: 1.03;
}
.loader .blob:nth-child(2) {
  background-color: var(--red);
  background-image: linear-gradient(var(--red), var(--orange), var(--red));
  rotate: 60deg;
  scale: 0.95;
}
.loader .blob:nth-child(3) {
  background-color: var(--olive);
  background-image: linear-gradient(var(--olive), var(--lime), var(--olive));
  rotate: 90deg;
  scale: 0.97;
}
.loader .blob:nth-child(4) {
  background-color: var(--purple);
  background-image: linear-gradient(var(--purple), var(--maroon), var(--purple));
  rotate: 120deg;
  scale: 1.02;
}
@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

/*# sourceMappingURL=styles.css.map */
