// scrollbar
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(15, 77, 212);
}

body {
  font-family: Inter, sans-serif;
  height: 100vh;
}

// Sidebar
#sidebar-container {
  position: fixed;
  width: 270px;
  height: 100%;
  left: 0;
  color: #f7f9ff;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(0, 80, 255);
  background: rgb(23, 93, 247);
  transition: all 0.3s ease-out;

  &.active {
    transform: translateX(-230px);
    transition: all 0.3s ease-out;
  }

  .logo {
    padding: 12px 10px 12px 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(0, 80, 255);

    .company-brand {
      margin-left: 5px;
    }

    .side-arrow {
      width: 25px;
      height: 25px;
      border: 3px solid rgb(23, 93, 247);
      background: rgb(255, 255, 255);
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      margin: 0;
      padding: 0;
      right: -12.5px;
      top: auto;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &.active {
        transform: rotate(180deg);
        transition: all 0.3s ease-in-out;
      }
    }
  }

  .menu {
    padding: 20px 10px 20px 10px;
    color: rgb(128, 167, 255);
    overflow-x: hidden;
    height: 100%;
    overflow-y: auto;
    flex-direction: column;
    flex-wrap: nowrap;

    .menu-item {
      padding: 10px 12px 0px 12px;
      margin: 5px 0px;
      font-size: 13px;
      height: 23px;
    }

    .menu-link {
      color: rgb(255, 255, 255);
      padding: 3px 4px 3px 4px;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 15px;
      height: 46px;
      margin: 3px 0px;
      border: none;

      &:hover {
        background: rgb(15, 77, 212);
        border-radius: 8px;
      }

      &.active {
        border-radius: 8px;
        background: rgb(15, 77, 212);
      }

      &:first-child {
        margin: 0;
      }

      &:last-child {
        margin-bottom: 3rem;
      }
    }
  }
}

.page-container {
  margin-left: 270px;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  background-color: rgb(150, 30, 30);

  &.w-wider {
    margin-left: 40px;
    transition: all 0.3s ease-out;
  }
}

#header-container {
  height: 64px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 25px 5px 25px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(230, 230, 230);
  background: rgb(255, 255, 255);

  .left-content {
    .finance-btn {
      padding: 4px 8px 4px 8px;
      border-radius: 4px;
      background: rgb(142, 64, 255);
      border: none;
      outline: none;
      width: 108px;
      height: 34px;

      span {
        font-size: 16px;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 1%;
        color: rgb(255, 255, 255);
      }
    }
  }
  .right-content {
    position: relative;
    height: 54px;
    width: auto;

    .navbar {
      position: absolute;
      right: 0;
      top: 0;
    }

    .nav-item {
      padding: 0;

      .nav-link {
        display: flex;
        align-items: center;
        padding: 0;

        .svg-box {
          width: 54px;
          height: 54px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          .alarm-info {
            position: absolute;
            width: 21px;
            height: 21px;
            background: rgb(204, 46, 46);
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            font-weight: 600;
            color: rgb(255, 255, 255);
            right: 7px;
            top: 3px;
          }
        }

        .divider {
          width: 1px;
          height: 30px;
          background: rgb(153, 153, 153);
          margin: 0px 6px;

          @media (max-width: 991px) {
            display: none;
          }
        }

        &.dropdown-toggle {
          &::after {
            display: none;
          }
        }
      }

      .dropdown-menu {
        font-size: 13px;

        .dropdown-item {
          i {
            font-size: 16px;
          }
        }
      }

      &.account-detail {
        .dropdown-menu {
          right: 0;
          left: unset;
          font-size: 13px;
        }

        .dropdown-toggle {
          padding: 0px 10px 0px 10px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          height: 54px;

          &::after {
            display: none;
          }

          .account-img {
            width: 34px;
            height: 34px;
            border-radius: 100%;
            margin-right: 10px;
            background-color: rgb(23, 93, 247);
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(255, 255, 255);
            font-size: 14px;
            font-weight: 600;
            padding-top: 2px;
          }

          .account-info {
            margin-right: 10px;
            .name {
              font-size: 14px;
              font-weight: 600;
              color: rgb(41, 41, 41);
            }

            .title {
              font-size: 12px;
              font-weight: 500;
              color: rgba(41, 41, 41, 0.5);
            }
          }
        }
      }
    }

    @media (max-width: 991px) {
      .navbar-collapse {
        .navbar-nav {
          background: rgb(225 225 225);
          border-radius: 3px;
          margin-top: 5px;
        }
      }

      .navbar {
        .container-fluid {
          justify-content: flex-end;
        }
        .nav-item {
          .nav-link {
            justify-content: flex-end;
          }
        }
      }
    }

    .message-canvas {
      background: #7474bf;
      background: -webkit-linear-gradient(to right, #348ac7, #7474bf);
      background: linear-gradient(to right, #348ac7, #7474bf);
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;

      .offcanvas-header {
        background: #7474bf;
        background: -webkit-linear-gradient(to right, #348ac7, #7474bf);
        background: linear-gradient(to right, #348ac7, #7474bf);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;
        margin-bottom: 0.5rem;
      }

      .comment-section {
        .comment-detail {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .comment-info {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .comment-img {
              width: 34px;
              height: 34px;
              border-radius: 100%;
              background-color: rgb(23, 93, 247);
              display: flex;
              align-items: center;
              justify-content: center;
              color: rgb(255, 255, 255);
              font-size: 14px;
              font-weight: 600;
              padding-top: 2px;
            }

            .comment-name {
              font-size: 14px;
              font-weight: 600;
              color: rgb(255, 255, 255);
              margin-left: 10px;
            }
            .comment-date {
              font-size: 12px;
              font-weight: 500;
              color: rgba(255, 255, 255, 0.5);
              margin-left: 10px;
            }
          }

          .add-fav {
            cursor: pointer;
          }
        }
        .comment {
          font-size: 14px;
          font-weight: 500;
          background-color: rgb(255, 255, 255);
          margin-top: 10px;
          border: 1px solid rgb(43, 43, 43);
          border-radius: 0.5rem;
          padding: 10px;
        }
      }

      .leave-message {
        .message-block {
          display: flex;
          align-items: center;
          justify-content: space-between;
          column-gap: 1rem;

          textarea {
            margin-top: 1rem;
          }
        }
      }
    }
  }
}

#contents {
  height: 100vh;
  background-color: rgb(245, 245, 245);
  padding: 0px 25px 0px 25px;

  .tab-content {
    .tab-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 98px;

      @media (max-width: 599px) {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 10px;
      }

      .tab-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title-info {
          margin-left: 5px;
          .title {
            color: rgb(3, 32, 64);
            font-size: 26px;
            font-weight: 600;
          }

          .subtitle {
            color: rgb(150, 150, 150);
            font-size: 12px;
            font-weight: 500;
          }
        }

        @media (max-width: 599px) {
          svg {
            width: 35px;
          }
          .title-info {
            .title {
              font-size: 15px;
            }
          }
        }
      }

      .tab-action {
        display: flex;
        align-items: center;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 7px 16px 7px 8px;
          color: rgb(255, 251, 251);
          font-size: 15px;
          font-weight: 600;
          box-sizing: border-box;
          border: 1px solid rgb(12, 132, 9);
          border-radius: 6px;
          background: rgb(17, 140, 14);

          @media (max-width: 599px) {
            padding: 5px 10px 5px 5px;
            font-size: 12px;
          }
        }

        .dots {
          margin-left: 10px;

          .dropdown-toggle {
            width: 38px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 7px;
            box-sizing: border-box;
            border: 1px solid rgb(205, 205, 205);
            border-radius: 6px;
            background: rgb(255, 255, 255);

            &::after {
              display: none;
            }
          }

          .dropdown-menu {
            left: unset !important;
            right: 0 !important;
            font-size: 13px;
          }
        }
      }
    }

    .tab-table-tabs {
      padding: 0px 15px 0px 15px;
      background-color: rgb(255, 255, 255);
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      height: 60px;
      border: 1px solid rgb(237, 237, 240);
      border-bottom: none;

      .nav-link {
        color: rgba(41, 41, 41, 0.8);
        font-size: 15px;
        font-weight: 600;
        border: none;
        display: flex;
        align-items: center;

        &.active {
          color: rgb(13, 101, 216);
          box-sizing: border-box;
          border-bottom: 4px solid rgb(13, 101, 216);
        }
      }

      .dots {
        align-self: center;
        padding: 0.5rem 1rem;

        .dropdown-toggle {
          &::after {
            display: none;
          }
        }

        .dropdown-item {
          color: rgba(41, 41, 41, 0.8);
          font-size: 15px;
          font-weight: 600;
        }
      }
    }

    .tab-table-tabs-contents {
      .tab-pane {
        .pane-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 72px;
          padding: 10px 15px 10px 15px;
          background: rgb(246, 249, 252);
          border: 1px solid rgb(237, 237, 240);
          border-bottom: none;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .pane-options {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 1rem;

            .option-pills {
              .option-pill {
                box-sizing: border-box;
                border: 1px solid rgb(230, 232, 236);
                border-radius: 50px;
                background: rgb(255, 255, 255);
                padding: 0px 14px 0px 14px;
                color: rgb(41, 41, 41);
                font-size: 14px;
                font-weight: 500;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;

                span {
                  width: max-content;
                  display: inline-flex;
                  align-items: center;

                  &[data-choosed]::after {
                    content: attr(data-choosed);
                    color: rgb(255, 255, 255);
                    width: 14px;
                    height: 14px;
                    padding: 2px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50px;
                    background: rgb(188, 46, 27);
                    margin-left: 5px;
                    vertical-align: middle;
                    font-size: 9px;
                  }
                }

                i {
                  -webkit-text-stroke: 1px;
                }

                &::after {
                  display: none;
                }

                &:hover,
                &.show {
                  background: rgb(23, 93, 247);
                  color: rgb(255, 255, 255);
                  border: 1px solid rgb(23, 93, 247);

                  svg path {
                    stroke: rgb(255, 255, 255);
                  }
                }
              }

              .dropdown-item {
                color: rgb(41, 41, 41);
                font-size: 14px;
                font-weight: 500;
              }
            }
          }

          .pane-search-print {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 1rem;

            .pane-search {
              box-sizing: border-box;
              border: 1px solid rgb(230, 232, 236);
              border-radius: 6px;
              background: rgb(255, 253, 253);
              height: 32px;
              width: 250px;

              .input-group-text,
              .form-control {
                border: none;
                background-color: transparent;
                font-size: 13px;
                font-weight: 500;
                color: rgb(148, 148, 148);

                &:focus {
                  box-shadow: none;
                }

                &::placeholder {
                  color: rgb(177, 178, 180);
                }

                i {
                  -webkit-text-stroke: 1px;
                  font-size: 13px;
                }
              }
            }

            .pane-print {
              .print {
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 6px 8px 6px 8px;
                box-sizing: border-box;
                border: 1px solid rgb(230, 232, 236);
                border-radius: 4px;
                text-decoration: none;
                color: rgb(41, 41, 41);

                &::after {
                  display: none;
                }

                .bi-printer {
                  font-size: 19px;
                }

                .bi-chevron-down {
                  -webkit-text-stroke: 1px;
                  margin-left: 7px;
                  font-size: 10px;
                }
              }

              .dropdown-menu {
                right: 0;
                left: unset;
                font-size: 12px;
                margin-top: 0.25rem !important;

                i {
                  font-size: 14px;
                }
              }
            }
          }
        }

        .pane-table {
          // padding: 0px 15px 15px 15px;
          background: rgb(255, 255, 255);
          border: 1px solid rgb(237, 237, 240);
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          height: 100%;

          .jquery-table {
            margin-bottom: 10rem;

            thead {
              font-size: 14px;
              tr {
                th {
                  color: rgb(82, 83, 85);
                  font-size: 14px;
                  font-weight: 500;
                  border-right: 1px solid rgb(218, 218, 222);
                  border-bottom: 1px solid rgb(218, 218, 222);

                  &:last-child {
                    border-right: none;

                    &.sorting {
                      background-image: none !important;
                      &::after {
                        display: none;
                      }
                    }
                  }

                  &.status {
                    text-align: center;
                    background-image: none !important;
                    &::after {
                      display: none;
                    }
                  }

                  &.amount {
                    text-align: right;
                  }
                }
              }

              .sorting {
                background-image: url(/images/soring_both.png);
                background-size: 14px;
              }

              .sorting_asc {
                background-image: url(/images/soring_asc.png) !important;
                background-size: 12px;
              }

              .sorting_desc {
                background-image: url(/images/soring_desc.png) !important;
                background-size: 12px;
              }
            }

            tbody {
              font-size: 13px;
              tr {
                td {
                  &.detail {
                    display: flex;
                    align-items: center;
                    padding-left: 15px;

                    &::before {
                      content: "";
                      display: inline-block;
                      width: 5px;
                      height: 32px;
                      margin-right: 10px;
                    }

                    &[data-type="paid"] {
                      &::before {
                        background: rgb(92, 184, 77);
                      }
                    }

                    &[data-type="pending"] {
                      &::before {
                        background: rgb(251, 227, 16);
                      }
                    }

                    &[data-type="expired"] {
                      &::before {
                        background: rgb(230, 90, 90);
                      }
                    }

                    .detail-info {
                      .detail-title {
                        color: rgb(4, 32, 64);
                        font-size: 14px;
                        font-weight: 600;
                      }
                      .detail-subtitle {
                        color: rgb(79, 99, 121);
                        font-size: 13px;
                        font-weight: 500;
                      }
                    }
                  }

                  &.date {
                    padding-left: 15px;
                    .date-info {
                      display: flex;
                      align-items: center;

                      .date-payment {
                        padding: 0 5px;
                        box-sizing: border-box;
                        border-width: 1px;
                        border-style: solid;
                        font-size: 13px;
                        font-weight: 500;
                      }

                      .date-text {
                        font-size: 13px;
                        font-weight: 500;
                        margin-left: 5px;
                      }
                    }

                    .date-subitle {
                      font-size: 13px;
                      font-weight: 500;
                      color: rgb(79, 99, 121);
                    }

                    &[data-type="paid"] {
                      .date-payment {
                        border-color: rgb(53, 129, 17);
                        color: rgb(53, 129, 17);
                      }
                      .date-text {
                        display: none;
                      }
                    }

                    &[data-type="unpaid"] {
                      .date-payment {
                        border: 1px solid rgb(4, 32, 64);
                        color: rgb(4, 32, 64);
                      }
                      .date-text {
                        display: block;
                      }
                    }

                    &[data-type="expired"] {
                      .date-payment {
                        border: 1px solid rgb(4, 32, 64);
                        color: rgb(4, 32, 64);
                      }
                      .date-text {
                        display: block;
                        color: rgb(202, 3, 27);
                      }
                    }
                  }

                  &.status {
                    text-align: center;
                    .box {
                      border-radius: 6px;
                      font-size: 14px;
                      font-weight: 500;
                      padding: 0 8px;
                      height: 26px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      width: fit-content;
                      margin: auto;
                    }

                    &[data-type="approved"] {
                      .box {
                        background: rgb(45, 136, 43);
                        color: rgb(241, 248, 241);
                      }
                    }
                    &[data-type="pending"] {
                      .box {
                        background: rgb(236, 245, 254);
                        color: rgb(4, 32, 64);
                      }
                    }
                    &[data-type="rejected"] {
                      .box {
                        background: rgb(252, 219, 219);
                        color: rgb(202, 0, 0);
                      }
                    }
                  }

                  &.amount {
                    text-align: right;
                    padding-right: 0;
                    .amount-info {
                      display: flex;
                      align-items: center;
                      justify-content: flex-end;

                      .type {
                        color: rgba(4, 32, 64, 0.85);
                        font-size: 12px;
                        font-weight: 500;
                      }

                      .amount {
                        color: rgb(4, 32, 64);
                        font-size: 14px;
                        font-weight: 500;
                        margin-left: 5px;
                      }
                    }

                    .amount-subtite {
                      color: rgb(79, 99, 121);
                      font-size: 11px;
                      font-weight: 500;
                    }
                  }

                  &.action {
                    text-align: center;
                    .dots {
                      width: fit-content;
                      margin: auto;
                      .dropdown-toggle {
                        border-radius: 50px;
                        background: rgb(246, 246, 249);
                        padding: 2px;
                        width: 28px;
                        height: 31px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        color: rgb(41, 41, 41);
                        &::after {
                          display: none;
                        }
                      }
                    }

                    .dropdown-menu {
                      left: unset !important;
                      right: 0 !important;
                      font-size: 13px;

                      .dropdown-item {
                        color: rgb(41, 41, 41);
                        font-size: 13px;
                        font-weight: 500;
                        text-align: right;
                      }
                    }
                  }
                }

                &.odd {
                  background-color: transparent;

                  .sorting_1 {
                    background-color: transparent;
                  }
                }

                &.even {
                  .sorting_1 {
                    background-color: transparent;
                  }
                }
              }
            }
          }

          .bi-chevron-right,
          .bi-chevron-left {
            -webkit-text-stroke: 1px;
          }

          .no-footer {
            border-bottom: none;
          }

          .dataTables_paginate {
            color: rgb(4, 32, 64);
            font-size: 14px;
            font-weight: 500;
            padding-top: 0;
            padding: 0 15px 15px 15px;

            .paginate_button {
              width: 30px;
              height: 30px;
              padding: 0.25rem 0;
              &.current {
                background: rgb(23, 93, 247);
                color: rgb(255, 255, 255) !important;
                border-radius: 6px;
                border: 1px solid rgb(23, 93, 247);
              }
              &:not(.current):hover,
              &:not(.current):focus {
                background: rgba(23, 94, 247, 0.438);
                color: rgb(255, 255, 255) !important;
                border-radius: 6px;
                border: none;
              }
            }
          }

          .dataTables_info {
            color: rgb(82, 83, 85);
            font-size: 13px;
            font-weight: 500;
            line-height: 100%;
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
    }
  }
}

.general-modal {
  .modal-header {
    background-color: rgb(15, 77, 212);
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(15, 77, 212);
    font-size: 16px;
    font-weight: 600;
    padding: 0.5rem 1rem;
  }

  .modal-body {
    font-size: 14px;
  }
}
