<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="incomes" role="tabpanel" aria-labelledby="incomes-tab">
        <div class="tab-header">
            <div class="tab-title">
                <svg width="50.000000" height="50.000000" viewBox="0 0 50 50" fill="none"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <desc>
                        Created with Pixso.
                    </desc>
                    <defs />
                    <path id="Vector"
                        d="M42.7 23.54L42.7 14.66C42.7 6.27 40.74 4.16 32.87 4.16L17.12 4.16C9.24 4.16 7.29 6.27 7.29 14.66L7.29 38.12C7.29 43.66 10.33 44.97 14.02 41.02L14.04 41C15.74 39.18 18.35 39.33 19.83 41.31L21.93 44.12"
                        stroke="#292929" stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round"
                        stroke-linecap="round" />
                    <path id="Vector" d="M37.5 32.29L37.5 44.79L41.66 40.62" stroke="#292929" stroke-opacity="1.000000"
                        stroke-width="2.000000" stroke-linejoin="round" stroke-linecap="round" />
                    <path id="Vector" d="M37.5 44.79L33.33 40.62" stroke="#292929" stroke-opacity="1.000000"
                        stroke-width="2.000000" stroke-linejoin="round" stroke-linecap="round" />
                    <g opacity="0.500000">
                        <path id="Vector" d="M16.66 14.58L33.33 14.58" stroke="#292929" stroke-opacity="1.000000"
                            stroke-width="1.500000" stroke-linejoin="round" stroke-linecap="round" />
                    </g>
                    <g opacity="0.500000">
                        <path id="Vector" d="M18.75 22.91L31.25 22.91" stroke="#292929" stroke-opacity="1.000000"
                            stroke-width="1.500000" stroke-linejoin="round" stroke-linecap="round" />
                    </g>
                    <g opacity="0.000000">
                        <path id="Vector" d="M0 0L50 0L50 50L0 50L0 0ZM1 49L1 1L49 1L49 49L1 49Z" fill="#292929"
                            fill-opacity="1.000000" fill-rule="evenodd" />
                    </g>
                </svg>
                <div class="title-info">
                    <div class="title">Invoices</div>
                    <div class="subtitle">120+ items, sorted by Vessel</div>
                </div>
            </div>
            <div class="tab-action">
                <button class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <svg width="24.000000" height="24.000000" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>
                            Created with Pixso.
                        </desc>
                        <defs />
                        <path id="Vector" d="M6 12L18 12" stroke="#FFFFFF" stroke-opacity="1.000000"
                            stroke-width="2.000000" stroke-linejoin="round" stroke-linecap="round" />
                        <path id="Vector" d="M12 18L12 6" stroke="#FFFFFF" stroke-opacity="1.000000"
                            stroke-width="2.000000" stroke-linejoin="round" stroke-linecap="round" />
                        <g opacity="0.000000">
                            <path id="Vector" d="M0 0L24 0L24 24L0 24L0 0ZM1 23L1 1L23 1L23 23L1 23Z" fill="#FFFFFF"
                                fill-opacity="1.000000" fill-rule="evenodd" />
                        </g>
                    </svg>

                    <span class="ms-1">Create Invoice</span>
                </button>
                <div class="dropdown dots">
                    <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg width="24.000000" height="24.000000" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <desc>
                                Created with Pixso.
                            </desc>
                            <defs />
                            <path id="Vector"
                                d="M11.99 3C10.89 3 9.99 3.89 9.99 5C9.99 6.1 10.89 7 11.99 7C13.09 7 13.99 6.1 13.99 5C13.99 3.89 13.09 3 11.99 3Z"
                                fill="#292929" fill-opacity="1.000000" fill-rule="nonzero" />
                            <path id="Vector"
                                d="M11.99 17C10.89 17 9.99 17.9 9.99 19C9.99 20.1 10.89 21 11.99 21C13.09 21 13.99 20.1 13.99 19C13.99 17.9 13.09 17 11.99 17Z"
                                fill="#292929" fill-opacity="1.000000" fill-rule="nonzero" />
                            <path id="Vector"
                                d="M11.99 9.99C10.89 9.99 9.99 10.89 9.99 11.99C9.99 13.09 10.89 13.99 11.99 13.99C13.09 13.99 13.99 13.09 13.99 11.99C13.99 10.89 13.09 9.99 11.99 9.99Z"
                                fill="#292929" fill-opacity="1.000000" fill-rule="nonzero" />
                            <g opacity="0.000000" />
                        </svg>
                    </a>
                    <ul class="dropdown-menu mt-1">
                        <li><a class="dropdown-item" href="#">Invoice History</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Help</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-table-tabs nav nav-tabs" id="myTab2" role="tablist">
            <a class="nav-link ps-0" id="all-invoice-tab" data-bs-toggle="tab" data-bs-target="#all-invoice"
                type="button" role="tab" aria-controls="all-invoice" aria-selected="false">
                All Invoices
            </a>
            <a class="nav-link active" id="overdue-tab" data-bs-toggle="tab" data-bs-target="#overdue" type="button"
                role="tab" aria-controls="overdue" aria-selected="true">
                Overdue
            </a>
            <a class="nav-link" id="progress-tab" data-bs-toggle="tab" data-bs-target="#progress" type="button"
                role="tab" aria-controls="progress" aria-selected="false">
                In Progress
            </a>
            <a class="nav-link" id="waiting-tab" data-bs-toggle="tab" data-bs-target="#waiting" type="button" role="tab"
                aria-controls="waiting" aria-selected="false">
                Waiting
            </a>
            <div class="dropdown dots">
                <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg width="24.000000" height="24.000000" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>
                            Created with Pixso.
                        </desc>
                        <defs />
                        <path id="Vector"
                            d="M5 10C3.89 10 3 10.9 3 12C3 13.1 3.89 14 5 14C6.1 14 7 13.1 7 12C7 10.9 6.1 10 5 10Z"
                            fill="#292929" fill-opacity="1.000000" fill-rule="nonzero" />
                        <path id="Vector"
                            d="M3 12C3 13.1 3.89 14 5 14C6.1 14 7 13.1 7 12C7 10.9 6.1 10 5 10C3.89 10 3 10.9 3 12Z"
                            stroke="#292D32" stroke-opacity="0" stroke-width="1.000000" />
                        <path id="Vector"
                            d="M19 10C17.9 10 17 10.9 17 12C17 13.1 17.9 14 19 14C20.1 14 21 13.1 21 12C21 10.9 20.1 10 19 10Z"
                            fill="#292929" fill-opacity="1.000000" fill-rule="nonzero" />
                        <path id="Vector"
                            d="M17 12C17 13.1 17.9 14 19 14C20.1 14 21 13.1 21 12C21 10.9 20.1 10 19 10C17.9 10 17 10.9 17 12Z"
                            stroke="#292D32" stroke-opacity="0" stroke-width="1.000000" />
                        <path id="Vector"
                            d="M12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10Z"
                            fill="#292929" fill-opacity="1.000000" fill-rule="nonzero" />
                        <path id="Vector"
                            d="M10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10C10.9 10 10 10.9 10 12Z"
                            stroke="#292D32" stroke-opacity="0" stroke-width="1.000000" />
                        <g opacity="0.000000" />
                    </svg>
                </a>
                <ul class="dropdown-menu mt-1">
                    <li><a class="dropdown-item" href="#">Drafts</a></li>
                    <li><a class="dropdown-item" href="#">Cancelled </a></li>
                    <li><a class="dropdown-item" href="#">Archived </a></li>
                </ul>
            </div>
        </div>
        <div class="tab-content tab-table-tabs-contents" id="myTabContent2">
            <div class="tab-pane fade" id="all-invoice" role="tabpanel" aria-labelledby="all-invoice-tab">
                all invoices
            </div>
            <div class="tab-pane fade show active" id="overdue" role="tabpanel" aria-labelledby="overdue-tab">
                <div class="pane-header">
                    <div class="pane-options">
                        <div class="dropdown option-pills">
                            <a class="dropdown-toggle option-pill" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <svg width="12.000000" height="12.000000" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <desc>
                                        Created with Pixso.
                                    </desc>
                                    <defs />
                                    <path id="Vector" d="M11 3.25L8 3.25" stroke="#292D32" stroke-opacity="1.000000"
                                        stroke-width="1.500000" stroke-linejoin="round" stroke-linecap="round" />
                                    <path id="Vector" d="M3 3.25L1 3.25" stroke="#292D32" stroke-opacity="1.000000"
                                        stroke-width="1.500000" stroke-linejoin="round" stroke-linecap="round" />
                                    <path id="Vector"
                                        d="M5 5C4.03 5 3.25 4.21 3.25 3.25C3.25 2.28 4.03 1.5 5 1.5C5.96 1.5 6.75 2.28 6.75 3.25C6.75 4.21 5.96 5 5 5Z"
                                        stroke="#292D32" stroke-opacity="1.000000" stroke-width="1.500000"
                                        stroke-linejoin="round" />
                                    <path id="Vector" d="M11 8.75L9 8.75" stroke="#292D32" stroke-opacity="1.000000"
                                        stroke-width="1.500000" stroke-linejoin="round" stroke-linecap="round" />
                                    <path id="Vector" d="M4 8.75L1 8.75" stroke="#292D32" stroke-opacity="1.000000"
                                        stroke-width="1.500000" stroke-linejoin="round" stroke-linecap="round" />
                                    <path id="Vector"
                                        d="M7 10.5C6.03 10.5 5.25 9.71 5.25 8.75C5.25 7.78 6.03 7 7 7C7.96 7 8.75 7.78 8.75 8.75C8.75 9.71 7.96 10.5 7 10.5Z"
                                        stroke="#292D32" stroke-opacity="1.000000" stroke-width="1.500000"
                                        stroke-linejoin="round" />
                                    <g opacity="0.000000" />
                                </svg>
                                <span class="ms-2">Filter</span>
                            </a>
                            <ul class="dropdown-menu mt-1">
                                <li><a class="dropdown-item" href="#">By Amount</a></li>
                                <li><a class="dropdown-item" href="#">By Client </a></li>
                                <li><a class="dropdown-item" href="#">By Invoice Number </a></li>
                            </ul>
                        </div>
                        <div class="dropdown option-pills">
                            <a class="dropdown-toggle option-pill" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <span class="me-2">MT Vessel Name</span>
                                <i class="bi bi-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu mt-1">
                                <li><a class="dropdown-item" href="#">Search by Name</a></li>
                                <li><a class="dropdown-item" href="#">Sort Alphabetically </a></li>
                                <li><a class="dropdown-item" href="#">Group by Category </a></li>
                            </ul>
                        </div>
                        <div class="dropdown option-pills">
                            <a class="dropdown-toggle option-pill" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <span class="me-2">Status</span>
                                <i class="bi bi-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu mt-1">
                                <li><a class="dropdown-item" href="#">Pending </a></li>
                                <li><a class="dropdown-item" href="#">Approved </a></li>
                                <li><a class="dropdown-item" href="#">Rejected </a></li>
                            </ul>
                        </div>
                        <div class="dropdown option-pills">
                            <a class="dropdown-toggle option-pill" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <span class="me-2">Priorty</span>
                                <i class="bi bi-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu mt-1">
                                <li><a class="dropdown-item" href="#">Urgent </a></li>
                                <li><a class="dropdown-item" href="#">Normal </a></li>
                                <li><a class="dropdown-item" href="#">Low Priority </a></li>
                            </ul>
                        </div>
                        <div class="dropdown option-pills">
                            <a class="dropdown-toggle option-pill" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <span class="me-2">Date</span>
                                <i class="bi bi-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu mt-1">
                                <li><a class="dropdown-item" href="#">Created Date</a></li>
                                <li><a class="dropdown-item" href="#">Due Date </a></li>
                                <li><a class="dropdown-item" href="#">Date Range </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="pane-search-print">
                        <div class="pane-search input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm"><i
                                        class="bi bi-search"></i></span>
                            </div>
                            <input type="text" class="form-control" aria-label="Small" placeholder="Search"
                                aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="pane-print dropdown">
                            <a class="dropdown-toggle print" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="bi bi-printer"></i>
                                <i class="bi bi-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">... Print</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-file-earmark-pdf text-danger"></i>
                                        <span>Export as
                                            PDF</span></a></li>
                                <li><a class="dropdown-item" href="#"> <span><i
                                                class="bi bi-file-earmark-word text-primary"></i>
                                            Export as Word</span></a></li>
                                <li><a class="dropdown-item" href="#"><i
                                            class="bi bi-file-earmark-spreadsheet text-success"></i>
                                        <span>Export as Excel</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="pane-table">
                    ghgfd
                </div>
            </div>



            <div class="tab-pane fade" id="progress" role="tabpanel" aria-labelledby="progress-tab">progress</div>
            <div class="tab-pane fade" id="waiting" role="tabpanel" aria-labelledby="waiting-tab">waiting</div>
        </div>
    </div>

    <div class="tab-pane fade" id="invoices" role="tabpanel" aria-labelledby="invoices-tab">invoices</div>
    <div class="tab-pane fade" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">dashboard
    </div>
    <div class="tab-pane fade" id="customers" role="tabpanel" aria-labelledby="customers-tab">customers</div>
    <div class="tab-pane fade" id="bills" role="tabpanel" aria-labelledby="bills-tab">bills</div>
    <div class="tab-pane fade" id="expenses" role="tabpanel" aria-labelledby="expenses-tab">expenses</div>
    <div class="tab-pane fade" id="vendors" role="tabpanel" aria-labelledby="vendors-tab">vendors</div>
    <div class="tab-pane fade" id="cashbank" role="tabpanel" aria-labelledby="cashbank-tab">cashbank</div>
    <div class="tab-pane fade" id="cashflow" role="tabpanel" aria-labelledby="cashflow-tab">cashflow</div>
    <div class="tab-pane fade" id="products" role="tabpanel" aria-labelledby="products-tab">products</div>
    <div class="tab-pane fade" id="transactions" role="tabpanel" aria-labelledby="transactions-tab">transactions</div>
    <div class="tab-pane fade" id="accounts" role="tabpanel" aria-labelledby="accounts-tab">accounts</div>
    <div class="tab-pane fade" id="reports" role="tabpanel" aria-labelledby="reports-tab">reports</div>


    <script>
        // Add slideDown animation to Bootstrap dropdown when expanding.
        $(".tab-content .dropdown").on("show.bs.dropdown", function () {
            $(this).find(".dropdown-menu").first().stop(true, true).slideDown(300);
        });

        // Add slideUp animation to Bootstrap dropdown when collapsing.
        $(".dropdown").on("hide.bs.dropdown", function () {
            $(this).find(".dropdown-menu").first().stop(true, true).slideUp(250);
        });
    </script>
</div>